// style kit: 
$white: #ffffff; 
$branded: #21062A; 
$accent: #5A0D67; 
$grey: #C4C4C4; 
$black: #2C2B2B; 
// 

* {
    font-family: 'Oswald';
    font-weight: 300;
    font-style: normal;
    h1 {
        font-weight: 400; 
        font-size: 72px;
        text-transform: uppercase;
    }
    h2 {
        font-weight: 400; 
        font-size: 36px;
        text-transform: uppercase;
    }
    h3 {
        font-size: 24px;
        font-weight: 300;
    }
    p {
        font-size: 18px;
        line-height: 26.68px;
    }
    button {
        font-size: 14px;
        text-transform: uppercase;
        width: 250px;
        height: 50px;
        background-color: $accent;
        color: $white;
        &:hover {
            background-color: $white;
            color: $accent;
        }
    }
}
body {
    .main-page {
        color: $white;
        background: $branded;
        background-image: url('img/main-page_background.png');
        background-position: bottom;
        height: 700px;
        position: relative;
        .auto-img {
            position: absolute;
            right: 170px;
            top: 400px;
        }
        .main-page__text-block {
            padding: 50px 200px;

            .head {
                display: flex;
                justify-content: space-between;
                align-items: end;
                margin-bottom: 100px;
            }
            .main-block__description {
                li {
                    padding: 20px 0;
                    &:first-child {
                        padding: 5px;
                    }
                    &:last-child {
                        padding-top: 30px;
                    }
                }
            }
            .main-block__social-network {
                width: 300px;
                padding: 40px 50px;
                a {
                    padding: 5px;
                }
            }
        }
        /* img:last-child {
            position: absolute;
            right: 100px;
            bottom: 30px;
        } */
        
    }
    h2.services {
        padding: 300px 0 0 200px;
    }
    .services {
       
        color: $black;
        padding: 50px 200px;
        display: flex;
        .text-block {
            width: 600px;
            padding-right: 50px;
            margin-bottom: 50px;
        }
      
        ul {
            
            li {
                h2 {
                    color: $grey;
                    transform: rotate(-90deg);
                    padding-top: 10px;
                }
                display: flex;

        
                width: 450px;
                height: 75px;
                border: 1px solid $grey;
                padding: 0 30px;
                margin: 10px 0;
                .li-text {
                    padding-left: 30px;
                    padding-top: 10px;
                }
                &:hover {
                    h2 {
                        color: $accent;
                    }
                    border-color: $accent;
                    width: 500px;
                }                
            }
        }
    }
    .services__text {
    }

    .li-text {
    }
}